a:link, a:visited {
    background-color: white;
    color: black;
    border: 2px solid hotpink;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-family: 'Comic Sans MS';
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: hotpink;
    color: black;
  }

  h1 {
    font-size: xx-large;
    font-family: 'Comic Sans MS';
  }